* { box-sizing: border-box; }
html, body, #root { height: 100%; margin: 0; }
body { font-family: "Open Sans", sans-serif; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; background: #fff; }
a { color: inherit; text-decoration: none; }
